{% extends 'EzSystemsFormBuilderBundle:fields:field.html.twig' %}
{% trans_default_domain "formfield" %}

{% block input %}
    <div class="ezform-field-group {% if field.isRequired %}ezform-field-group--required{% endif %}" data-error-message="{{ 'field.is.required'|trans }}">
        <div class="ezform-field-indicator"></div>
        <div class="ezform-field-wrapper">
        {% for option in field.options.choices.value %}
            {% set checkboxId = field.id ~ '-' ~ loop.index %}
            <div class="checkbox">
                <label class="ezform-checkbox-label" for="{{ checkboxId }}">
                    <input
                        id="{{ checkboxId }}"
                        name="{{ field.id }}[]"
                        type="checkbox"
                        class="ezform-field ezform-checkbox"
                        value="{{ option.value }}"
                        {% if option.checked %}checked{% endif %}
                        >
                    {{ option.value }}
                </label>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
