{% extends 'EzSystemsFormBuilderBundle:fields:field.html.twig' %}

{% block input %}
    {% for option in field.options.choices.value %}
        {% set checkboxId = field.id ~ '-' ~ loop.index %}
        <div class="checkbox">
            <label for="{{ checkboxId }}">
                <input type="checkbox" value="{{ option.value }}" {% if option.checked %}checked{% endif %} id="{{ checkboxId }}" name="{{ field.id }}[]" class="ezform-field ezform-checkbox">
                {{ option.value }}
            </label>
        </div>
    {% endfor %}
{% endblock %}
