{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}contentlist{% endblock %}
{% block block_class %}row {{ block_class }}{% endblock %}

{% block block_content %}
    <h3>{{ parentName }}</h3>
    {% if contentArray|length > 0 %}
        <div class="block-contentlist-items">
            {% for content in contentArray %}
                <div class="block-contentlist-child">
                    <h4><a href="{{ path(content.location) }}">{{ ez_content_name(content.content) }}</a></h4>
                    {% if content.content.getField('intro') %}
                        <p>{{ ez_render_field(content.content, 'intro') }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
