{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}rss{% endblock %}
{% block block_class %}row {{ block_class }}{% endblock %}

{% block block_content %}
    <h3><a href="{{ link }}" target="_blank">{{ title }}</a></h3>
    {% if feeds %}
        <ul class="block-rss-items">
            {% for item in feeds %}
                <li>
                    <a href="{{ item.links[0] }}" title="{{ item.title }}" target="_blank">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
